html, body {margin: 0;max-width: 100%;overflow: hidden;} 
.layout{
	margin-left: -15px !important;
}
.sec15{
	width: 100vw;
	height: 18vh;
	position:absolute;
  	left:0;
  	top:0;
  	right:0;
  	bottom:0;
	background:url('logo.png') 50% 50% no-repeat;
	 
}
.sec25{
	margin-top: 17vh;
	width: 100vw;
	height: 27.5vh;
}
.sec60{
	width: 100vw;
	height: 60vh;
}
.sec25 img{
	width: 100%;
	height: 26.6vh;
}
.box25{
	width: 51.5vw !important;
	float: left;
	height: 25vh;
	background-color: #008cff;
	border: 2.5px solid white;
	border-top: 0px;

}
.box25 img{
	height: auto;
	width: 45%;
	margin-left: 13vw;
	margin-top: 5vh
}
.box18{
	width: 27vw !important;
	float: right;
	height: 18vh;
	background-color: #1a98ff;
	border: 2.5px solid white;
	border-top: 0px;
}
.box18 img{
	height: auto;
	width: 60%;
	margin-left: 3.5vw;
	margin-top: 4.5vh
}
.box18_2{
	width: 27vw !important;
	float: right;
	height: 18vh;
	background-color: #4dafff;
	border: 2.5px solid white;
	border-top: 0px;
}
.box18_2 img{
	height: auto;
	width: 60%;
	margin-left: 3vw;
	margin-top: 4.5vh
}
.box13{
	width: 27.5vw !important;
	float: left;
	height: 13vh;
	background-color: #1a98ff;
	border: 2.5px solid white;
}
.box13 img{
	height: auto;
	width: 50%;
	margin-left: 6.3vw;
	margin-top: 2.8vh
}
.box13_2{
	width: 24vw !important;
	height: 13vh;
	background-color:#4dafff;
	border: 2.5px solid white;
}
.box13_2 img{
	height: auto;
	width: 50%;
	margin-left: 4vw;
	margin-top: 2.8vh
}
.box20{
	width: 53vw !important;
	float: right;
	height: 20vh;
	background-color: #008cff;
	margin-top: -7vh;
	border: 2.5px solid white;
}
.box20 img{
	height: auto;
	width: 40%;
	margin-left: 13vw;
	margin-top: 2.5vh
}
.box18_b{
	width: 51.5vw !important;
	float: left;
	height: 17vh;
	background-color: #008cff;
	border: 2.5px solid white;
}
.box18_b img{
	height: auto;
	width: 40%;
	margin-left: 15vw;
	margin-top: 2vh
}
.box18_b1{
	width: 26.5vw !important;
	float: right;
	height: 17vh;
	background-color: #4dafff;
	border: 2.5px solid white;
}
.box18_b1 img{
	height: auto;
	width: 50%;
	margin-left: 4.5vw;
	margin-top: 4.5vh
}
.box18_b2{
	width: 26.5vw !important;
	float: right;
	height: 17vh;
	background-color: #1a98ff;
	border: 2.5px solid white;
}
.box18_b2 img{
	height: auto;
	width: 50%;
	margin-left: 4vw;
	margin-top: 4.5vh
}
.title{
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}
#title1{
	margin-left: 3vw;
}
#title2{
	line-height:2.5vh;
	margin-top: 1.5vh;
}
#title3{
	margin-top: 0.8vh;
}
#title4{
	font-size: 13px;
	margin-left: 1vw;
}
#title6{
	margin-left: vw;
}
#title7{
	margin-left: 4vw;
}
#title8{
	margin-top: .5vh;
}
#title9{
	line-height:2.5vh;
	margin-top: 1vh;
}