html, body {margin: 0;max-width: 100%;overflow: hidden;} 
	/* ----------- iPhone 5, 5S, 5C and 5SE 
  /* ----------- p20 lite ----------- */
/* Portrait
@media screen and (min-device-width: 321px) and (min-device-height: 660px)
  {
  	 .logo-cent{
  	 	display: block;
		margin-top: 10% !important;
		margin-left: 14% !important;
		margin-bottom: 16% !important;
	}
	.logo-cent-small{
		display: none;
		margin-top: 28% !important;
		margin-left: 18% !important;
		margin-bottom: 17% !important;
	}
  		.menuItem{
			width:50% !important;
		display:inline-block !important;
		background: #00b386;
		border:2px solid white;
		border-radius: 8px;
	}
		.title{
		text-align: center;
		color:white;
		margin-top: -5%;
		margin-bottom: 25%;
		font-weight: 6px;
	}
	.fa-cen{
		text-align: center; 
		display: inline-block; 
		margin-top: 25% !important;
	}
	div a:hover{
		text-decoration: none;
	}
	.fa-2x{
		color:white;
		margin-top: 5%;
		color:white;
	}
	h6 span{
		display: none;
	}
  }
  ----------- */
  /* ----------- very common ----------- */
  /* Portrait */
	  .fullback-landscape{
		  display: none;
	  }
  	 .logo-cent{
		width: 100vw !important;
		max-width: 100% !important;
		height: 35vh !important;
		padding-top: 15vh !important;
		position:absolute;
 		left:0;
  		top:0;
  		right:0;
  		bottom:0;
  		background:url('logo_3.png') 50% 50% no-repeat;
	}
	.logo-cent-small{
		width: 100vw !important;
		max-width: 100% !important;
		height: 35vh !important;
		padding-top: 15vh !important;
		position:absolute;
  		left:0;
  		top:0;
  		right:0;
  		bottom:0;
  		background:url('logo_2.png') 50% 50% no-repeat;
	}
  		.menuItem{
			width:50vw !important;
			height: 21.4vh !important;
		display:inline-block !important;
		background: #00b386;
		border:2px solid white;
		border-radius: 8px;
	}
		.title{
		text-align: center;
		color:white;
		margin-top: -1vh !important;
		margin-bottom: 22% !important;
		font-weight: .5rem;
	}
	.fa-cen{
		text-align: center; 
		display: inline-block; 
		color: white;
		height: 50%;
		width:50%;
	}
	div a:hover{
		text-decoration: none;
	}
	.fa-2x{
		color:white;
		margin-top: 18% !important;
	}
	h6 span{
		display: none;
	}
	.fullback{
		margin-top: 35vh !important;
	}


  /* landscape new*/
  @media screen and (max-device-width: 1080px) and (orientation:landscape)
  {
	.logo-cent, .fullback{
		height: 0vh !important;
		display: none;
	}
	.fullback-landscape{
		display: block;
		margin-top: 33.3vh !important;		
	}
	.logo-cent-small{
		width: 100vw !important;
		max-width: 100% !important;
		height: 35vh !important;
		padding-top: 15vh !important;
		position:absolute;
  		left:0;
  		top:0;
  		right:0;
  		bottom:0;
  		background:url('logo_2.png') 50% 50% no-repeat;
	}
		.menuItem{
			width:33.3vw !important;
			height: 33vh !important;
		display:inline !important;
		background: #00b386;
		border:2px solid white;
		border-radius: 8px;
	}
	.title{
	text-align: center;
	color:white;
	margin-top: -1vh !important;
	margin-bottom:-10px !important;
	font-weight: .5rem;
}
.fa-cen{
	text-align: center; 
	display: inline-block; 
	color: white;
	height: 50%;
	width:50%;
	padding-top: 0% !important;
}
div a:hover{
	text-decoration: none;
}
.fa-2x{
	color:white;
}
  }

  /* -----------very common in india 
  @media screen and (min-device-width: 412px) and (min-device-height: 732px)
  {
  	 .logo-cent{
  	 	display: block;
		margin-top: 8% !important;
		margin-left: 19% !important;
		margin-bottom: 15% !important;
	}
	.logo-cent-small{
		display: none;
		margin-top: 28% !important;
		margin-left: 18% !important;
		margin-bottom: 17% !important;
	}
  		.menuItem{
			width:50% !important;
		display:inline-block !important;
		background: #00b386;
		border:2px solid white;
		border-radius: 8px;
	}
		.title{
		text-align: center;
		color:white;
		margin-top: -5%;
		margin-bottom: 25%;
		font-weight: 6px;
	}
	.fa-cen{
		text-align: center; 
		display: inline-block; 
		margin-top: 25% !important;
	}
	div a:hover{
		text-decoration: none;
	}
	.fa-2x{
		color:white;
		margin-top: 5%;
		color:white;
	}
	h6 span{
		display: none;
	}
  }

   /* -----------very common in india
  @media screen and (min-device-width: 732px) and (min-device-height: 412px) and (orientation: landscape)
  {
  	.logo-cent{
		margin-top: 100px !important;
		margin-left: 50% !important;
		
	}
	.fullback{
		display: none;
	}
}
----------- */